.no-outline:focus { 
    outline: none; 
    box-shadow: none; 
}

.task-button { 
    display: none; 
} 

.task-item:hover .task-button { 
    display: inline-block; 
}

.task-item {
    height: 3rem;
}